body,
html {
    margin: 0;
    color: #232929;
    height: 100%;
    width: 100%;
    background-color: #fff;
    line-height: 30px;
    text-decoration: none;
}

p {
    font-family:'open sans', 'sans-serif';
}

img {
    max-width: 100%;
    height: auto;
}

header.navbar-fixed-top {
    animation-duration: 1s;
    animation-name: fadeInDown;
    animation-timing-function: ease-in-out;
    background: rgba(255, 255, 255, 0.9) none repeat fixed 0 0;
    box-shadow: 0 4px 12px -4px rgba(0, 0, 0, 0.75);
    left: 0;
    padding-top: 20px;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    font-weight: 500;
}



h5 {
    font-family: 'open sans';
    font-size: 20px;
    font-weight: 600;
    color: #666;
}

.navbar-fixed-top .light-logo {
    opacity: 0;
    display: none;
}

.navbar-fixed-top .dark-logo {
    opacity: 1;
    display: block;
    padding-bottom:10px;
}

header.navbar-fixed-top .menu-links a {
    color: #444;
}


/* Pre-loader 

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    z-index: 1001;
}

.loader-balls {
    display: block;
    height: 20px;
    width: 20px;
    background: #444;
    border-radius: 50%;
    position: absolute;
    top: 0px;
}

#ball-1 {
    animation: bounce 1s ease-in-out 0.33s infinite;
}

#ball-2 {
    position: absolute;
    left: 40px;
    animation: bounce 1s ease-in-out 0.66s infinite;
}

#ball-3 {
    position: absolute;
    left: 80px;
    animation: bounce 1s ease-in-out 1s infinite;
}

@keyframes bounce {
    0%,
    75%,
    100% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(-30px);
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1000;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.loader-section.section-left {
    left: 0;
}

.loader-section.section-right {
    right: 0;
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
}


/* End Loader */


/* Start Header */

header {
    background: rgba(255, 255, 255, 0) none repeat fixed 0 0;
    position: absolute;
    top: 0;
    padding: 15px 0;
    width: 100%;
    z-index: 99;
    line-height: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

header .dark-logo {
    opacity: 0;
    display: none;
    margin-top: 5px;
}

header .light-logo {
    margin-top: 5px;
}

.menu-links {
    text-align: right;
}

.menu-links ul li {
    display: inline-block;
    margin-right: 15px;
    position: relative;
    padding-top: 15px;
}

.menu-links ul li a {
    font-family: 'open sans', 'sans-serif';
    padding: 0px 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.menu-links ul li:hover > a {
    color: #6fa9a7;
}


/* Responsive Menu */

.mobile-logo-section {
    text-align: center;
    padding: 15px 0;
}

.navbar.navbar-inverse {
    margin: 0;
}


/* Jumbotron Section */

.jumbotron-section {
    background: rgba(0, 0, 0, 0) url("http://i67.tinypic.com/ml17kh.jpg") no-repeat fixed 0 0 / cover;
    height: 100%;
    position: relative;

}

.jumbotron-content {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 55%;
    transform: translateY(-50%);
    z-index: 9;
}

.jumbotron-content h1 {
    color: #fff;
    font-size: 44px;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto', helvetica, sans-serif;
}

.jumbotron-content p {
    color: #fff;
    font-size: 28px;
    text-align: center;
    text-decoration: none;
    font-family: 'open sans', helvetica, sans-serif;
    font-weight: 400;
}

.jumbotron-content span {
    color:#6fa9a7;
}

.jumbotron-content ul {
    margin-top: 82px;
    margin-bottom: 40px;
    margin-right:30px;
}

.jumbotron-content ul li {
    display: inline-block;
    margin: 0 3px;

}

.jumbotron-content ul li a {
    border: 2px solid #fff;
    border-radius: 100%;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0) inset;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    width: 50px;
    height: 50px;
    line-height: 45px;
    text-shadow: none;
    -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    -o-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

.jumbotron-content ul li a:hover {
    border: none;
    
}

.jumbotron-content ul li:nth-child(1) a:hover {
    background-color: #3d589b;
}

.jumbotron-content ul li:nth-child(2) a:hover {
    background-color: #34cbff;
}

.jumbotron-content ul li:nth-child(3) a:hover {
    background-color: #0077B5;
}

.jumbotron-content ul li:nth-child(4) a:hover {
    background-color: #d34836;
}

.jumbotron-content ul li:nth-child(5) a:hover {
    background-color: #000;
}

.jumbotron-button a {
    padding: 10px 20px;
    font-family: 'open sans';
    font-size: 20px;
    text-decoration: none;
    margin: 20px 0px;
    margin-top: 40px;
    text-transform: uppercase;
    border-radius: 25px;
}

.btn-large.btn-jumbo {
    background-color: rgba(255,255,255,0);
    color: #fff;
    font-weight:600;
    border: 2px solid #fff;
    margin-left: 10px;
}



.btn-large.btn-jumbo:hover {
    background-color: #fff;
    color:#6fa9a7;
}




/* End Jumbotron */




/* Services Section */

.services {
    border-top:1px solid #d3d3d3;
    background-color: #fff;
    padding: 10px 0px;
}

.services-header {
    background-color:#fff;
}

.services-heading {
    color: #232929;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    margin-top: 50px;
    font-size: 45px;
}
.services-paragraph {
    font-family: 'open sans', 'sans-serif';
    color: #888;
    font-size: 18px;
    text-align: center;
    padding: 0 100px;
    margin-bottom: 50px;
}

.services:before {
    display: block;
    position: relative;
    content: '';
    width: 50px;
    height: 50px;
    bottom: 35px;
    left: 48%;
    background-color: #fff;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 1;
    border-bottom:1px solid #d3d3d3;
    border-right:1px solid #d3d3d3;;
}

.service {
    text-align: center;
    margin: 20px;
}

.services .services-heading {
    font-family: 'open sans', 'sans-serif';
    font-size: 40px;
}

.service .service-content h3 {
    color: #232929;
    font-size: 18px;
    font-weight: 600;
    font-family: 'open sans';
}

.service .service-content p {
    font-family: 'open sans', 'sans-serif';
    color: #888;
    font-size: 14px;
}

.service .service-icon i {
    color: #6fa9a7;
    font-size: 60px;
    text-align: center;
    padding: 15px;
}

.service .service-icon .mobile-icon {
    padding: 10px;
    font-size: 70px;
}

.service:hover .service-icon i {
    -webkit-animation: spin 0.5s linear;
    -moz-animation: spin 0.5s linear;
    -o-animation: spin 0.5s linear;
    animation: spin 0.5s linear;
    animation-iteration-count: 1;
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.services-btn {
    margin: 50px;
    text-align: center;
}

.services-btn a {
    background-color: #6fa9a7;
    color: #fff;
    padding: 10px 30px;
    margin: 8px;
    text-decoration: none;
    font-family: 'open sans', 'sans-serif';
    font-size: 16px;
}

.services-btn a:hover {
    background-color: #508b89;
}


/* sm */

@media screen and (min-width: 768px) {
    {
        font-size: 1em;
    }
}


/* md */

@media screen and (min-width: 992px) {
    {
        font-size: 1.2em;
    }
}


/* lg */

@media screen and (min-width: 1200px) {
    {
        font-size: 1.3em;
    }
}

/*Choose-us-section*/

.choose-us-main-header {
    font-size: 45px;
    font-family: 'roboto';
    color: #fff;
    text-align: center;
    padding-top: 60px;
}

.choose-us-header-text {
    font-family: 'open sans';
    text-align: center;
    font-size: 18px;
    padding: 20px 80px;
    color: #fff;
}
.choose-us-header{
    position:relative;
}

.choose-us-header::before{
    
    border-right: 30px solid transparent;
    border-left: 100% solid #fff;
    content: '';
    position: absolute;
    right: 50%;
    bottom: 0;
    width: 50%;
    z-index: 100;
    border-bottom: 30px solid #fff;


}

.choose-us-header::after{
    left: 50%;
    border-left: 30px solid transparent;
    border-right: 100% solid #fff;
    content: '';
    position: absolute;
    bottom: 0;
    width: 50%;
    z-index: 100;
    border-bottom: 30px solid #fff;

}
.choose-us {
    background-color:#fff;
    
}

.choose-us .why-choose {
    position: relative;
    width: 100%;
    margin-bottom: 60px;
    margin-top:40px;

}

.why-choose-header.header-right {
    margin-right: 40px;
}

.why-choose-header.header-left {
    margin-left: 40px;
}

.why-choose h5 {
    color: #232929;
    font-size: 18px;
    font-family: 'open sans';
    font-weight: 600;
}

.why-choose a {
    text-decoration: none;
}

.why-choose a:hover h5 {
    color: #6fa9a7;
}

.why-choose p {
    font-family: 'open sans', 'sans-serif';
    font-size: 14px;
    color: #888;
}

.choose-us .why-choose-header.header-left {
    text-align: left;
    padding-right: 30px;
}

.choose-us .why-choose-header.header-right {
    text-align: right;
}

.choose-us .why-choose.why-choose-left,
.choose-us .why-choose.why-choose-right {
    padding-left: 100px;
    text-align: left;
}

.choose-us .why-choose .simple-icon {
    position: absolute;
    top: 0;
}

.choose-us .why-choose.why-choose-left .simple-icon,
.choose-us .why-choose.why-choose-right .simple-icon {
    left: 0;
}

.why-choose .simple-icon i {
    color: #6fa9a7;
    font-size: 20px;
    border: 2px solid #6fa9a7;
    border-radius: 50%;
    padding: 15px;
}

.why-choose .simple-icon i:hover {
    color: #232929;
    border: 2px solid #232929;
}

.choose-us-header {
    background-image: url(http://i64.tinypic.com/2ezh24m.png);
    height:45vh;
}








@media (min-width: 992px) {
    .choose-us .why-choose.why-choose-left {
        padding-right: 100px;
        padding-left: 0;
        text-align: right;
    }
    .choose-us .why-choose.why-choose-left .simple-icon {
        right: 0;
        left: auto;
    }
}


/* End why choose */


/* Get A Quote Section */

.work-with-us {
    background-image: url(http://i66.tinypic.com/2dtuk44.jpg);
}

.work-text {
    font-size: 22px;
    color: #fff;
    font-weight: 400;
    margin: 45px 0;
    font-family: 'open sans', 'sans-serif';
}

.btn_large.quote_btn {
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 45px;
    text-transform: uppercase;
    font-family: 'Roboto', 'sans-serif';
    font-size: 22px;
    text-align: center;
    margin-left: 40%;
    margin-top: 35px;
}

.btn_large.quote_btn:hover {
    background-color: rgba(255, 255, 255, 1);
    color: #444;
    border: 2px solid #fff;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
}


/* Portfolio Section */

.portfolio-section {
    background-color:#fff;
    
    
}

.portfolio-section-header {
    background-color:#fff;
    border-bottom:1px solid #d3d3d3;
}

.portfolio-heading h2 {
    margin-top: 50px;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    font-size: 45px;
    color: #232929;
}

.portfolio-heading-text {
    text-align: center;
    font-size: 18px;
    font-family: 'open sans', 'sans-serif';
    color: #888;
    margin-bottom: 50px;
}

.portfolio-items-section {
    position:relative;
    background-color:#f7f7f7;
    padding:80px;
    border-bottom:1px solid #d3d3d3;
}

.image {
    height: 30vh;
    width: 100%;
    padding: 0;
    -webkit-box-shadow: 2px 2px 8px -1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 2px 8px -1px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 8px -1px rgba(0, 0, 0, 0.5);
}

.portfolio-image a img:hover {
    filter: grayscale(100%);
}

.portfolio-website {
    text-align: center;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 15px;
    color: #888;
}

.portfolio-website-type {
    color: #232929;
    font-size: 18px;
    font-family: 'open sans', 'sans serif';
    font-weight: 600;
    text-align: center;
    margin-bottom:40px;
}

.portfolio-items-section::after {
    display: block;
    position: absolute;
    content: '';
    width: 50px;
    height: 50px;
    bottom: 768px;
    left: 48%;
    background-color: #fff;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 1;
    border-bottom:1px solid #d3d3d3;
    border-right:1px solid #d3d3d3;;
}



/* Skills Section */

#our_skills{
  margin:0;
  width:100%;
  background-color:#fff;
}

.header_section{
    background-color:#fff;
    height:40vh;
    position:relative;
    
}

.header_section::before,
    .header_section::after {
        position: absolute;
        content: '';
        pointer-events: none;
    }
 
    .header_section {
        z-index: 1;
        background: #fff;
    }
 
    .header_section::before, 
        .header_section::after {
        top: 0;
         z-index: -1;
        width: 100%;
        height: 25%;
        background: inherit;
        -webkit-transform: rotate(-2deg);
        transform: rotate(-2deg);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
    }
 
    .header_section::before {
        height: 25%;
        background: #fff;
        -webkit-transform: rotate(-3deg);
        transform: rotate(-3deg);
        -webkit-transform-origin: 3% 0;
        transform-origin: 3% 0;
        border-top:1px solid #d3d3d3;
    }



.header_section h2 {
    color: #232929;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 600;
    font-size: 45px;
    padding: 0px;
    margin-top:80px;
}

.header_section h3 {
    font-size: 18px;
    font-family: 'open sans', 'sans-serif';
    text-align: center;
    color: #888;
    margin-bottom: 30px;
}



.skills-content{
    padding-bottom:100px;
}


.skills_logos {
    text-align: center;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
    background: #fff;
    max-width: 80%;
    border:1px solid #d3d3d3;

    
}

.skills_logos .skilltypes {
    opacity: 1;
    margin: 0 auto;
    transform: scale(0.7);
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}

.skills_logos .skilltypes:hover {
    transform: scale(1);
}

.skilltypes {
    display: inline;
    overflow: hidden;
}







/* Footer Section */

.footer {
  background-color: #232929;
  width: 100%;
  text-align: left;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding: 50px;
  border-top:1px solid #d3d3d3;
  padding-bottom:250px;
  
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
}


/* footer left*/

.footer .footer-left {
  width: 33%;
  padding-right: 15px;
}

.footer .about {
  line-height: 20px;
  color: #fff;
  font-family:'open sans','sans-serif';
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer .about span {
  display: block;
  color: #fff;
  font-family:'open sans', 'sans-serif';
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.footer .icons {
  margin-top: 25px;
}

.footer .icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}


/* footer center*/

.footer .footer-center {
  width: 30%;
}
.footer-center .center-header   {
display: block;
  color: #fff;
  font-family:'open sans', 'sans-serif';
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 25px;
  padding-left: 15px;
}

.footer .footer-center i {
  background-color: #6fa9a7;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}



.footer .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
  color:#fff;
}

.footer .footer-center p {
  display: inline-block;
  color: #fff;
  vertical-align: middle;
  margin: 0;
}

.footer .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer .footer-center p a {
  color: #fff;
  text-decoration: none;
}


/* footer right*/

.footer .footer-right {
  width: 35%;
  
}

.footer .footer-right .right-header {
    display: block;
  color: #fff;
  font-family:'open sans', 'sans-serif';
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 25px;
  
}




.footer .menu a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: #fff;
  font-size:16px;
}

.footer .menu a:hover {
  color: #6fa9a7;
}

.footer .name {
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

@media (max-width: 767px) {
  .footer {
    font-size: 14px;
  }
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer .footer-center i {
    margin-left: 0;
  }
}


/* Responsive  */


/* xs */

@media screen and (max-width: 768px) {
    /* Jumbotron Section */
    .jumbotron-content h1 {
        font-size: 30px;
    }
    .jumbotron-buttons a {
        padding: 8px 18px;
        font-size: 14px;
    }
    .btn-large.btn-jumbo {
        margin-left: 40px;
    }
    /* Welcome Section */
    .welcome {
        padding: 0px;
        margin: 20px 0px;
    }
    .welcome-header {
        font-size: 24px;
        line-height: 26px;
        padding: 0;
        margin: 20px;
    }
    .welcome-main-header {
        font-size: 30px;
    }
    .welcome-header span {
        font-family: 'cabin sketch';
        font-size: 28px;
    }
    .welcome:after {
        display: none;
    }
    /*Services Section*/
    .services {
        padding: 0;
    }
    .service {
        margin: 20px 40px;
    }
    .services .services-heading {
        font-size: 45px;
    }
    .services-subheader {
        font-size: 20px;
    }
    .services-paragraph {
        font-size: 18px;
        padding: 0;
        padding-bottom: 20px;
    }
    .service .service-content h3 {
        font-size: 18px;
    }
    /* Quote Section */
    .work-with-us {
        padding: 20px;
    }
    .work-text {
        font-size: 24px;
        color: #fff;
        margin: 0;
        text-align: center;
    }
    .btn_large.quote_btn {
        border: 2px solid #fff;
        padding: 8px 15px;
        font-size: 18px;
        text-align: center;
        margin-left: 0;
        margin-top: 25px;
    }
    .work-btn {
        text-align: center;
    }
    .btn_large.quote_btn:hover {
        padding: 8px 15px;
        font-size: 18px;
    }
    /* Portfolio Section */
    .portfolio-image {
        text-align: center;
        margin: 20px;
    }
    .image {
        height: 20vh;
        width: 100%;
        padding: 0;
        -webkit-box-shadow: 2px 2px 8px -1px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 2px 2px 8px -1px rgba(0, 0, 0, 0.5);
        box-shadow: 2px 2px 8px -1px rgba(0, 0, 0, 0.5);
    }
    .portfolio-website-type {
        display: none;
    }
}


/* md */

@media screen and (min-width: 992px) {
    {
        font-size: 1.2em;
    }
}


/* lg */

@media screen and (min-width: 1200px) {
    {
        font-size: 1.3em;
    }
}


/* Inside Pages -Contact Us */

#contact {
    background-color:#fff;
}

#contact .contact-us-page{
    padding-bottom:80px;
    background-color:#fff;
}

#contact .menu-links ul li a {
    color: #232929;
}

#contact .navbar-fixed-top .dark-logo {
    opacity: 1;
    display: block;
}

#contact header{
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

#contact header .dark-logo {
    opacity: 1;
    display: block;
}

#contact header .light-logo {
    opacity: 0;
    display: none;
}

#contact .form-group {
    position: relative;
}

#contact .form-control {
    border-radius: 0;
}

#contact #label-header {
    font-family: 'open sans';
    font-weight: 200;
}

#contact .contact-form h2 {
    font-family: 'open sans';
    margin-top: 180px;
    color: #232929;
}

#contact .btn.btn-primary.contact-btn {
    color: #222;
    background-color: #f5f5f5;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f5f5f5), to(#dddddd));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #dddddd);
    background-image: -moz-linear-gradient(top, #f5f5f5, #dddddd);
    background-image: -ms-linear-gradient(top, #f5f5f5, #dddddd);
    background-image: -o-linear-gradient(top, #f5f5f5, #dddddd);
    border: 1px solid #cccccc;
    text-shadow: #fff 1px 1px 0;
}

#contact .btn.btn-primary.contact-btn:hover {
    -webkit-box-shadow: 0 4px 6px -3px #aaa;
    -moz-box-shadow: 0 4px 6px -3px #aaa;
    box-shadow: 0 4px 6px -3px #aaa;
}

#contact .contact-text h2 {
    font-family: 'open sans';
    margin-top: 180px;
    color: #232929;
    margin-left: 10%;
}

#contact .contact-text p {
    margin-top: 40px;
    font-size: 14px;
    font-family: 'open sans';
    color: #666;
    text-align: justify;
    margin-left: 10%;
    margin-bottom: 15px;
}

#contact .contact-text h5 {
    margin-left: 10%;
}

#contact .contact-info {
    margin-left: 10%;
    width: 90%;
}

#contact .contact-info i {
    margin-right: 10px;
    font-size: 20px;
    color: #6fa9a7;
}

.social-list {
    margin-left: 9%;
    padding: 0;
    list-style: none;
    margin-top: 15px;
}

.social-list > li {
    display: inline-block;
    padding: 0 10px;
}

.social-list li i {
    font-size: 24px;
    color: #6fa9a7;
}

.social-list li i:hover {
    color: #666;
}

#map-canvas {
    width: 100%;
    height: 80%;

    
}


/*  Inside Pages -About Us Page */

#about .about-us {
    background-color: #fff;
}

#about .menu-links ul li a {
    color: #fff;
}

#about header.navbar-fixed-top .menu-links a {
    color: #232929;
}

#about header.navbar-fixed-top .dark-logo {
    opacity: 1;
    display: block;
}

#about header.navbar-fixed-top .light-logo {
    opacity: 0;
    display: none;
}

#about header .dark-logo {
    opacity: 0;
    display: none;
}

#about header .light-logo {
    opacity: 1;
    display: block;
}

#about .menu-links ul li:hover > a {
    color: #6fa9a7;
}

#about .jumbotron-section {
    background: rgba(0, 0, 0, 0) url("http://i64.tinypic.com/23r70v5.jpg") no-repeat fixed 0 0 / cover;
}

#about .jumbotron-content h1 {
    color: #fff;
    font-size: 60px;
    text-align: center;
    text-decoration: none;
    font-family: 'open sans', 'sans-serif';
}

#about .jumbotron-content p {
    color: #fff;
    font-family: 'open sans', 'sans-serif';
    font-size: 20px;
    text-align: center;
}

#about .about-text h5 {
    color: #232929;
    font-size: 45px;
    font-family: 'roboto', 'sans-serif';
    font-weight: 400;
    margin-bottom: 30px;
}

#about .about-text p {
    color: #888;
    font-size: 14px;
    font-family: 'open sans', 'sans-serif';
    font-weight: 400;
    text-align: justify;
}

#about .about-us {
    padding: 40px;
}

#about .about-image img {
    margin-left: 100px;
}

#about .meet-the-team {
    background-color: #f7f7f7;
    border-bottom:1px solid #d3d3d3;
    border-top: 1px solid #d3d3d3;
}

#about .meet-the-team:before {
    display: block;
    position: relative;
    content: '';
    width: 50px;
    height: 50px;
    bottom: 25px;
    left: 50%;
    background-color: #fff;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 1;
    border-right:1px solid #d3d3d3;
    border-bottom:1px solid #d3d3d3;
}

#about .meet-the-team .team-header h2 {
    text-align: center;
    font-family: 'roboto', 'sans-serif';
    font-size: 45px;
    margin: 30px;
    color: #232929;
}

#about .meet-the-team .team-header p {}

#about .team-image .about-bio {
    text-align: center;
    margin-left: 25px;
    padding: 30px;
    font-family: 'open sans', 'sans-serif';
    font-size: 14px;
    color: #232929;
}

#about .meet-the-team .team-image .name {
    font-family: 'open sans', 'sans-serif';
    color: #232929;
    font-size: 20px;
    text-align: center;
    margin-left: 25px;
}

#about .ed-team-image,
.james-team-image {
    border-radius: 50%;
    margin-left: 50px;
}

#about .meet-the-team .team-image .position {
    font-family: 'open sans', 'sans-serif';
    color: #7f858f;
    font-size: 14px;
    text-align: center;
    margin-left: 25px;
}

#about .about-testimonial {
    background-color: #fff;
    
}

#about .testimonial-header h2 {
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    font-size: 45px;
    color: #232929;
    padding-top: 50px;
}

#about .testimonial-header p {
    font-family: 'open sans', 'sans-serif';
    font-size:16px;
    color:#888;
    text-align:center;
    padding-bottom: 50px;
}



#about .about-testimonial .testimonial-text p {
    padding-right: 20px;
    color: #232929;

}

#about .about-testimonial .testimonial-text h5 {
    font-weight: 600;
    color: #232929;
    padding-right: 20px;
}

#about .about-testimonial .testimonial-text .testimonial-title {
    padding: 0;
    font-size: 12px;
    color:#888;
}

#about .about-testimonial .testimonial-image img {
    border-radius: 100%;
    width: 100px;
    height: 80px;
    border: 1px solid #eee;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.46);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.46);
}

#about .extra-padding {
    padding:40px 0;
}



/* Quote Page */

#quote .get-a-quote {
    background-color:#fff;
    padding:50px;
}

#quote .menu-links ul li a {
    color: #fff;
}
#quote .menu-links ul li:hover > a {
    color: #6fa9a7;
}
#quote header.navbar-fixed-top .menu-links a {
    color: #232929;
}

#quote header.navbar-fixed-top .dark-logo {
    opacity: 1;
    display: block;
}

#quote header.navbar-fixed-top .light-logo {
    opacity: 0;
    display: none;
}

#quote header .dark-logo {
    opacity: 0;
    display: none;
}

#quote header .light-logo {
    opacity: 1;
    display: block;
}

#quote .jumbotron-section {
    background: rgba(0, 0, 0, 0) url("http://i64.tinypic.com/23r70v5.jpg") no-repeat fixed 0 0 / cover;
}

#quote .jumbotron-content h1 {
    color: #fff;
    font-size: 60px;
    text-align: center;
    text-decoration: none;
    font-family: 'open sans', 'sans-serif';
}

#quote .jumbotron-content p {
    color: #fff;
    font-family: 'open sans', 'sans-serif';
    font-size: 20px;
    text-align: center;
}


#quote .quote-heading {
    color: #232929;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    margin-top: 50px;
    font-size: 45px;
}
#quote .quote-paragraph {
    font-family: 'open sans', 'sans-serif';
    color: #888;
    font-size: 18px;
    text-align: center;
    padding: 0 100px;
    margin-bottom: 50px;
}

#quote .get-a-quote {
    border-top:1px solid #d3d3d3;
}

#quote .get-a-quote:before {
    display: block;
    position: relative;
    content: '';
    width: 50px;
    height: 50px;
    bottom: 75px;
    left: 48%;
    background-color: #fff;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 1;
    border-bottom:1px solid #d3d3d3;
    border-right:1px solid #d3d3d3;;
}





#quote .quote-form p {
    font-family: 'open sans', 'sans-serif';
    font-size: 18px;
    color: #232929;
    margin-bottom: 30px;
}

#quote .form-group {
    width:90%;
}


#quote .btn.btn-primary.quote-btn {
    color: #222;
    background-color: #f5f5f5;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f5f5f5), to(#dddddd));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #dddddd);
    background-image: -moz-linear-gradient(top, #f5f5f5, #dddddd);
    background-image: -ms-linear-gradient(top, #f5f5f5, #dddddd);
    background-image: -o-linear-gradient(top, #f5f5f5, #dddddd);
    border: 1px solid #cccccc;
    text-shadow: #fff 1px 1px 0;
}

#quote .btn.btn-primary.quote-btn:hover {
    -webkit-box-shadow: 0 4px 6px -3px #aaa;
    -moz-box-shadow: 0 4px 6px -3px #aaa;
    box-shadow: 0 4px 6px -3px #aaa;
}

#quote .quote-icons .quote-icon{
    margin-left:20px;


}
#quote .quote-icons p {
    text-align:center;
    font-family:'open sans', 'sans-serif';
    font-size:14px;
    margin-bottom:50px;
    font-weight: 600;
    
}

#quote .quote-contact {
    border:1px solid #d3d3d3;
    padding:10px 20px;
    border-radius:5px;
}

#quote .quote-contact p {
    font-family:'open sans', 'sans-serif';
    font-size:18px;
    display:inline-block;
    margin-top:20px;

}

#quote .quote-contact .quote-phone-icon {
   margin-right:10px;
   font-size:36px;

   color:#6fa9a7;
   
}





/* Inside Pages - Portfolio Page */

#portfolio .jumbotron-section {
    background: rgba(0, 0, 0, 0) url("http://i64.tinypic.com/23r70v5.jpg") no-repeat fixed 0 0 / cover;
}

#portfolio .jumbotron-content h1 {
    color: #fff;
    font-size: 60px;
    text-align: center;
    text-decoration: none;
    font-family: 'open sans', 'sans-serif';
}

#portfolio .jumbotron-content p {
    color: #fff;
    font-family: 'open sans', 'sans-serif';
    font-size: 20px;
    text-align: center;
}

#portfolio .portfolio-welcome {
    background-color: #fff;
    padding:50px;

}

#portfolio .portfolio-welcome h2 {
      font-family: 'Roboto', 'sans-serif';
      font-size: 45px;
      text-align:center;
}

#portfolio .portfolio-welcome p {
    text-align: center;
    font-family: 'open sans', 'sans-serif';
    font-size: 16px;
    color: #888;
}

#portfolio .portfolio-item {
    margin-bottom: 50px;

}

#portfolio .portfolio-main{
    border-top:1px solid #d3d3d3;
    background-color:#fff;
    padding:50px;
}

#portfolio .portfolio-item .logo-image {
    position: relative;
}

#portfolio .img-responsive {
    width: 100%;
}

#portfolio .portfolio-item .logo-image .overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(100, 94, 98, 0.49);
    padding: 10px;
    color: #fff;
    border-radius: 8px;
}

#portfolio .portfolio-item .logo-image .overlay:hover {
    opacity: 1;
}

#portfolio .portfolio-item .logo-image .overlay .icons {
    margin-top: 40%;
    text-align: center;
}

#portfolio .portfolio-item-info .name {
    text-align: center;
    font-family: 'open sans', 'sans-serif';
    font-size: 16px;
    font-weight: 600;
    color: #232929;
}

#portfolio .portfolio-item-info .type {
    text-align: center;
    font-family: 'open sans', 'sans-serif';
    font-size: 12px;
    font-weight: 400;
    color: #666;
}

#portfolio .portfolio-item .icons i {
    font-size: 35px;
    color: #fff;
}

#portfolio .portfolio-item .icons i:hover {
    font-size: 35px;
    color: #232929;
}






/* Services - Inside Pages */



#services .menu-links ul li a {
    color: #fff;
}

#services .menu-links ul li:hover > a {
    color: #6fa9a7;
}

#services header.navbar-fixed-top .menu-links a {
    color: #232929;
}

#services header.navbar-fixed-top .dark-logo {
    opacity: 1;
    display: block;
}


#services header.navbar-fixed-top .light-logo {
    opacity: 0;
    display: none;
}


#services header .dark-logo {
    opacity: 0;
    display: none;
}


#services header .light-logo {
    opacity: 1;
    display: block;
}


#services .jumbotron-section {
    background: rgba(0, 0, 0, 0) url("http://i64.tinypic.com/23r70v5.jpg") no-repeat fixed 0 0 / cover;
}


#services .jumbotron-content h1 {
    color: #fff;
    font-size: 60px;
    text-align: center;
    text-decoration: none;
    font-family: 'open sans', 'sans-serif';
}

#services .row-margin {
    margin-top: 80px;
}

#services .services-page-header h2 {
    font-family: 'open sans', 'sans-serif';
    font-size: 40px;
    margin-top: 40px;
    text-align: center;
}

#services .service-type {
    font-family: 'open sans', 'sans-serif';
    font-size: 20px;
    margin-top: 15px
}

#services .service-page-icon {
    color: #6fa9a7;
}

#services .service-paragraph h3 {
    font-family: 'open sans', 'sans-serif';
    font-size: 20px;
}
