    body,
html {
    margin: 0;
    color: #232929;
    height: 100%;
    width: 100%;
    background-color: #fff;
    line-height: 30px;
    text-decoration: none;
}

p {
    font-family: 'open sans', 'sans-serif';
    font-size: 18px;
    color: #232929;
}

img {
    max-width: 100%;
    height: auto;
}

header.navbar-fixed-top {
    animation-duration: 1s;
    animation-name: fadeInDown;
    animation-timing-function: ease-in-out;
    background: rgba(255, 255, 255, 0.9) none repeat fixed 0 0;
    box-shadow: 0 4px 12px -4px rgba(0, 0, 0, 0.75);
    left: 0;
    padding-top: 20px;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    font-weight: 500;
}

h2 {
    color: #232929;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    margin-top: 50px;
    font-size: 50px;
}

h5 {
    font-family: 'open sans';
    font-size: 20px;
    font-weight: 600;
    color: #666;
}

.navbar-fixed-top .light-logo {
    opacity: 0;
    display: none;
}

.navbar-fixed-top .dark-logo {
    opacity: 1;
    display: block;
    padding-bottom: 10px;
}

header.navbar-fixed-top .menu-links a {
    color: #444;
}


/* Pre-loader 

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    z-index: 1001;
}

.loader-balls {
    display: block;
    height: 20px;
    width: 20px;
    background: #444;
    border-radius: 50%;
    position: absolute;
    top: 0px;
}

#ball-1 {
    animation: bounce 1s ease-in-out 0.33s infinite;
}

#ball-2 {
    position: absolute;
    left: 40px;
    animation: bounce 1s ease-in-out 0.66s infinite;
}

#ball-3 {
    position: absolute;
    left: 80px;
    animation: bounce 1s ease-in-out 1s infinite;
}

@keyframes bounce {
    0%,
    75%,
    100% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(-30px);
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1000;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.loader-section.section-left {
    left: 0;
}

.loader-section.section-right {
    right: 0;
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
}


/* End Loader */


/* Start Header */

header {
    background: rgba(255, 255, 255, 0) none repeat fixed 0 0;
    position: absolute;
    top: 0;
    padding: 15px 0;
    width: 100%;
    z-index: 99;
    line-height: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

header .dark-logo {
    opacity: 0;
    display: none;
    margin-top: 5px;
}

header .light-logo {
    margin-top: 5px;
}

.menu-links {
    text-align: right;
}

.menu-links ul li {
    display: inline-block;
    margin-right: 15px;
    position: relative;
    padding-top: 15px;
}

.menu-links ul li a {
    font-family: 'open sans', 'sans-serif';
    padding: 0px 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.menu-links ul li:hover > a {
    color: #32c4e9;
}


/* Responsive Menu */

.mobile-logo-section {
    text-align: center;
    padding: 15px 0;
}

.navbar.navbar-inverse {
    margin: 0;
}

.navbar.navbar-inverse .navbar-toggle {
    background-color: #222;
}

.navbar-inverse .navbar-collapse {
    border-color: #232929;
    background-color: #232929;
    visibility: visible;
}

.navbar .navbar-header {
    background-color: #232929;
    border: none;
}

#myCollapsingList {
    background-color: #232929;
    visibility: visible;
}

#myCollapsingList li a {
    color: #32c4e9;
    background-color: #232929;
    font-family: 'open sans', 'sans-serif';
    font-weight: 600;
}


/* Jumbotron Section */

.jumbotron-section {
    background: rgba(0, 0, 0, 0) url("http://i67.tinypic.com/ml17kh.jpg") no-repeat fixed 0 0 / cover;
    height: 100%;
    position: relative;
}

.jumbotron-content {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 55%;
    transform: translateY(-50%);
    z-index: 9;
}

.jumbotron-content h1 {
    color: #fff;
    font-size: 60px;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto', helvetica, sans-serif;
}

.jumbotron-content p {
    color: #fff;
    font-size: 28px;
    text-align: center;
    text-decoration: none;
    font-family: 'open sans', helvetica, sans-serif;
    font-weight: 400;
}

.jumbotron-content ul {
    margin-top: 82px;
    margin-bottom: 40px;
    margin-right: 30px;
}

.jumbotron-content ul li {
    display: inline-block;
    margin: 0 3px;
}

.jumbotron-content ul li a {
    border: 2px solid #fff;
    border-radius: 100%;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0) inset;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    width: 50px;
    height: 50px;
    line-height: 45px;
    text-shadow: none;
    -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    -o-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

.jumbotron-content ul li a:hover {
    border: none;
}

.jumbotron-content ul li:nth-child(1) a:hover {
    background-color: #3d589b;
}

.jumbotron-content ul li:nth-child(2) a:hover {
    background-color: #34cbff;
}

.jumbotron-content ul li:nth-child(3) a:hover {
    background-color: #0077B5;
}

.jumbotron-content ul li:nth-child(4) a:hover {
    background-color: #d34836;
}

.jumbotron-content ul li:nth-child(5) a:hover {
    background-color: #000;
}

.jumbotron-button a {
    padding: 7px 15px;
    font-family: 'open sans';
    font-size: 18px;
    text-decoration: none;
    margin: 20px 0px;
    margin-top: 40px;
    text-transform: uppercase;
    border-radius: 25px;
    margin-left: 10px;
    font-weight: 600;
}

.btn-large.btn-jumbo {
    background-color: rgba(255, 255, 255, 1);
    color: #32c4e9;
}

.btn-large.btn-jumbo:hover {
    background-color: #32c4e9;
    color: #fff;
}

#jumbo_btn2 {
    background-color: #32c4e9;
    color: #fff;
    font-family: 'roboto';
}

#jumbo_btn2:hover {
    background-color: #ffffff;
    color: #32c4e9;
}


/* End Jumbotron */


/* Services Section */

.services {
    border-top: 1px solid #d3d3d3;
    background-color: #f7f7f7;
    padding: 10px 0px;
}

.services-header {}

.services-paragraph {
    font-family: 'open sans', 'sans-serif';
    color: #232929;
    font-size: 18px;
    text-align: center;
    padding: 0 100px;
    margin-bottom: 50px;
}

.services:before {
    display: block;
    position: relative;
    content: '';
    width: 50px;
    height: 50px;
    bottom: 35px;
    left: 48%;
    background-color: #fff;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 1;
    border-bottom: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
}

.service {
    text-align: center;
    margin: 20px;
}

.services .services-heading {
    font-family: 'open sans', 'sans-serif';
    font-size: 40px;
}

.service .service-content h3 {
    color: #232929;
    font-size: 18px;
    font-weight: 600;
    font-family: 'open sans';
}

.service:hover .service-icon i {
    -webkit-animation: spin 0.5s linear;
    -moz-animation: spin 0.5s linear;
    -o-animation: spin 0.5s linear;
    animation: spin 0.5s linear;
    animation-iteration-count: 1;
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.services-btn {
    margin: 50px;
    text-align: center;
}

.services-btn a {
    background-color: rgba(255, 255, 255, 0);
    color: #232929;
    font-weight: 600;
    padding: 10px 30px;
    margin: 8px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'open sans', 'sans-serif';
    font-size: 16px;
    border: 2px solid #232929;
    border-radius: 4px;
}

.services-btn a:hover {
    border-color: #32c4e9;
    color: #32c4e9;
}


/* sm */

@media screen and (min-width: 768px) {
    {
        font-size: 1em;
    }
}


/* md */

@media screen and (min-width: 992px) {
    {
        font-size: 1.2em;
    }
}


/* lg */

@media screen and (min-width: 1200px) {
    {
        font-size: 1.3em;
    }
}


/*Choose-us-section*/

.choose-us-main-header {
    font-size: 50px;
    font-family: 'roboto', 'open sans';
    color: #fff;
    font-weight: 800;
    text-align: center;
    padding-top: 50px;
}

.choose-us-header-text {
    font-family: 'open sans';
    text-align: center;
    font-size: 18px;
    padding: 10px 80px;
    color: #fff;
}

.choose-us-header {
    position: relative;
}

.choose-us-header::before {
    border-right: 40px solid transparent;
    border-left: 100% solid #f7f7f7;
    content: '';
    position: absolute;
    right: 50%;
    bottom: 0;
    width: 50%;
    z-index: 100;
    border-bottom: 40px solid #f7f7f7;
}

.choose-us-header::after {
    left: 50%;
    border-left: 40px solid transparent;
    border-right: 100% solid #f7f7f7;
    content: '';
    position: absolute;
    bottom: 0;
    width: 50%;
    z-index: 100;
    border-bottom: 40px solid #f7f7f7;
}

.choose-us {
    background-color: #f7f7f7;
}

.choose-us .why-choose {
    position: relative;
    width: 100%;
    margin-bottom: 60px;
    margin-top: 40px;
}

.why-choose-header.header-right {
    margin-right: 40px;
}

.why-choose-header.header-left {
    margin-left: 40px;
}

.why-choose h5 {
    color: #000;
    font-size: 18px;
    font-family: 'open sans';
    font-weight: 600;
}

.why-choose a {
    text-decoration: none;
}

.why-choose a:hover h5 {
    color: #32c4e9;
}

.why-choose p {
    font-family: 'open sans', 'sans-serif';
    font-size: 14px;
    color: #3d3d3d;
}

.why-choose.why-choose-right .simple-icon i {
    border: 1px solid #232929;
    color: #232929;
    border-radius: 50%;
    padding: 15px;
    font-size: 22px
}

.why-choose.why-choose-left .simple-icon i {
    border: 1px solid #232929;
    color: #232929;
    border-radius: 50%;
    padding: 15px;
    font-size: 22px
}

.choose-us .why-choose-header.header-left {
    text-align: left;
    padding-right: 30px;
}

.choose-us .why-choose-header.header-right {
    text-align: right;
}

.choose-us .why-choose.why-choose-left,
.choose-us .why-choose.why-choose-right {
    padding-left: 100px;
    text-align: left;
}

.choose-us .why-choose .simple-icon {
    position: absolute;
    top: 0;
}

.choose-us .why-choose.why-choose-left .simple-icon,
.choose-us .why-choose.why-choose-right .simple-icon {
    left: 0;
}

.choose-us-header {
    background: radial-gradient(#222, #000);
    height: 55vh;
}

@media (min-width: 992px) {
    .choose-us .why-choose.why-choose-left {
        padding-right: 100px;
        padding-left: 0;
        text-align: right;
    }
    .choose-us .why-choose.why-choose-left .simple-icon {
        right: 0;
        left: auto;
    }
}


/* End why choose */


/* Get A Quote Section */

.work-with-us {
    background: -moz-linear-gradient(45deg, rgba(0, 0, 0, 1) 0%, rgba(0, 140, 140, 1) 90%, rgba(0, 156, 156, 1) 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(0, 0, 0, 1)), color-stop(90%, rgba(0, 140, 140, 1)), color-stop(100%, rgba(0, 156, 156, 1)));
    /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 1) 0%, rgba(0, 140, 140, 1) 90%, rgba(0, 156, 156, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(0, 0, 0, 1) 0%, rgba(0, 140, 140, 1) 90%, rgba(0, 156, 156, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(0, 0, 0, 1) 0%, rgba(0, 140, 140, 1) 90%, rgba(0, 156, 156, 1) 100%);
    background: linear-gradient(45deg, rgba(0, 0, 0, 1) 0%, rgba(0, 140, 140, 1) 90%, rgba(0, 156, 156, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#009C9C', endColorstr='#000000', GradientType=1);
}

.work-text {
    font-size: 22px;
    color: #fff;
    font-weight: 400;
    margin: 45px 0;
    font-family: 'open sans', 'sans-serif';
}

.btn_large.quote_btn {
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 45px;
    text-transform: uppercase;
    font-family: 'Roboto', 'sans-serif';
    font-size: 22px;
    text-align: center;
    margin-left: 40%;
    margin-top: 35px;
}

.btn_large.quote_btn:hover {
    background-color: rgba(255, 255, 255, 1);
    color: #232929;
    border: 2px solid #fff;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
}


/* Portfolio Section */

.portfolio-section {
    background-color: #fff;
}

.portfolio-section-header {
    background-color: #fff;
    border-bottom: 1px solid #d3d3d3;
}

.portfolio-heading h2 {
    margin-top: 50px;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    font-size: 50px;
    color: #232929;
}

.portfolio-heading-text {
    text-align: center;
    font-size: 18px;
    font-family: 'open sans', 'sans-serif';
    color: #232929;
    margin-bottom: 50px;
}

.portfolio-items-section {
    position: relative;
    background-color: #f7f7f7;
    padding: 80px;
    border-bottom: 1px solid #d3d3d3;
}

.image {
    height: 30vh;
    width: 100%;
    padding: 0;
    -webkit-box-shadow: 2px 2px 8px -1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 2px 8px -1px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 8px -1px rgba(0, 0, 0, 0.5);
}

.portfolio-image a img {
    filter: grayscale(100%);
}

.portfolio-image a img:hover {
    filter: grayscale(0%);
}

.portfolio-website {
    text-align: center;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-top: 15px;
    color: #232929;
}

.portfolio-website-type {
    color: #000;
    font-size: 14px;
    font-family: 'open sans', 'sans serif';
    text-align: center;
    margin-bottom: 40px;
}

.portfolio-items-section::after {
    display: block;
    position: absolute;
    content: '';
    width: 50px;
    height: 50px;
    bottom: 844px;
    left: 48%;
    background-color: #fff;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 1;
    border-bottom: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
}

.portfolio-btn {
    text-align: center;
    margin-top: 30px;
}

.portfolio-btn #btn_2 {
    background: #32c4e9;
    color: #fff;
    font-weight: 600;
    padding: 15px 30px;
    margin: 8px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'open sans', 'sans-serif';
    font-size: 16px;
    border: 2px solid #32c4e9;
    border-radius: 4px;
    text-align: center;
}

.portfolio-btn #btn_2:hover {
    background-color: #fff;
    color: #32c4e9;
}

.portfolio-btn #btn_3 {
    background-color: rgba(255, 255, 255, 0);
    color: #232929;
    font-weight: 600;
    padding: 15px 30px;
    margin: 8px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'open sans', 'sans-serif';
    font-size: 16px;
    border: 2px solid #232929;
    border-radius: 4px;
}

.portfolio-btn #btn_3:hover {
    border-color: #232929;
    color: #32c4e9;
}


/* Skills Section */

#our_skills {
    margin: 0;
    width: 100%;
    background-color: #f7f7f7;
    padding: 0;
}

.header_section {
    z-index: 1;
    background-image: url(http://i63.tinypic.com/2ev93q9.png);
    height: 50vh;
    position: relative;
}

.header_section h2 {
    color: #fff;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    font-size: 50px;
    padding-top: 40px;
}

.header_section h3 {
    font-size: 18px;
    font-family: 'open sans', 'sans-serif';
    text-align: center;
    color: #fff;
}

.header_section::before {
    border-right: 40px solid transparent;
    border-left: 100% solid #f7f7f7;
    content: '';
    position: absolute;
    right: 50%;
    bottom: 0;
    width: 50%;
    z-index: 100;
    border-bottom: 40px solid #f7f7f7;
}

.header_section::after {
    left: 50%;
    border-left: 40px solid transparent;
    border-right: 100% solid #f7f7f7;
    content: '';
    position: absolute;
    bottom: 0;
    width: 50%;
    z-index: 100;
    border-bottom: 40px solid #f7f7f7;
}

.skills-content {
    padding-bottom: 30px;
    background-color: #f7f7f7;
}

.skills_logos {
    text-align: center;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
    background: #f7f7f7;
    max-width: 80%;
}

.skills_logos .skilltypes {
    opacity: 1;
    margin: 0 auto;
    transform: scale(0.7);
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
    border: 1px solid #232929;
}

.skills_logos .skilltypes:hover {
    transform: scale(1);
}

.skilltypes {
    display: inline;
    overflow: hidden;
}


/* Footer Section */

.footer {
    background: radial-gradient(#222, #000);
    width: 100%;
    text-align: left;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding: 50px;
    border-top: 1px solid #d3d3d3;
    padding-bottom: 250px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
    display: inline-block;
    vertical-align: top;
}


/* footer left*/

.footer .footer-left {
    width: 33%;
    padding-right: 15px;
}

.footer .about {
    line-height: 20px;
    color: #fff;
    font-family: 'open sans', 'sans-serif';
    font-size: 13px;
    font-weight: normal;
}

.footer .about span {
    display: block;
    color: #fff;
    font-family: 'open sans', 'sans-serif';
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 50px;
    margin-top: 5px;
}

.footer .icons {
    margin-top: 25px;
}

.footer .icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}


/* footer center*/

.footer .footer-center {
    width: 30%;
}

.footer-center .center-header {
    display: block;
    color: #fff;
    font-family: 'open sans', 'sans-serif';
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 25px;
    padding-left: 15px;
}

.footer .footer-center i {
    background-color: #32c4e9;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
    font-size: 17px;
    color: #fff;
}

.footer .footer-center .footer-paragraph {
    display: inline-block;
    color: #fff;
    vertical-align: middle;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}

.footer .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer .footer-center p a {
    color: #fff;
    text-decoration: none;
}


/* footer right*/

.footer .footer-right {
    width: 35%;
}

.footer .footer-right .right-header {
    display: block;
    color: #fff;
    font-family: 'open sans', 'sans-serif';
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 35px;
}

.footer .menu a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.footer .menu a:hover {
    color: #6fa9a7;
}

.footer .name {
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

@media (max-width: 767px) {
    .footer {
        font-size: 14px;
    }
    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer .footer-center i {
        margin-left: 0;
    }
}


/* Responsive  */


/* xs */

@media screen and (max-width: 768px) {
    /* Jumbotron Section */
    .jumbotron-content h1 {
        font-size: 35px;
    }
    .jumbotron-content p {
        font-size: 18px;
    }
    .jumbotron-button a {
        padding: 8px 18px;
        font-size: 14px;
    }
    .btn-large.btn-jumbo {
        margin-left: 0px;
    }
    /*Services Section*/
    .services {
        padding: 0;
    }
    .service {
        margin: 20px 40px;
    }
    .services .services-header h2 {
        font-size: 45px;
    }
    .services-paragraph {
        font-size: 16px;
        padding: 0;
        padding-bottom: 20px;
    }
    .service .service-content h3 {
        font-size: 18px;
    }
    .services:before {
        display: none;
    }
    .services-btn #btn_1 {
        font-size: 16px;
        padding: 6px 18px;
        margin: 0;
    }
    
    /* Get a Quote */
    .work-with-us {
        height: 25vh;
    }
    .work-text {
        font-family: 'open sans', 'sans-serif';
        font-size: 22px;
        font-weight: 600;
        color: #fff;
        margin: 0;
        text-align: center;
        padding-top: 15px;
    }
    .btn_large.quote_btn {
        border: 2px solid #fff;
        padding: 8px 15px;
        font-size: 18px;
        text-align: center;
        margin-left: 0;
        margin-top: 25px;
    }
    .work-btn {
        text-align: center;
    }
    .btn_large.quote_btn:hover {
        padding: 8px 15px;
        font-size: 18px;
    }
    
    /* Why Choose Section */
    .choose-us-main-header {
        font-size: 30px;
        padding-top: 20px;
    }
    .choose-us-header-text {
        font-size: 16px;
        padding: 10px;
    }
    

    /* Portfolio Section */
    .portfolio-image {
        text-align: center;
        margin: 20px;
    }
    .image {
        height: 20vh;
        width: 100%;
        padding: 0;
        -webkit-box-shadow: 2px 2px 8px -1px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 2px 2px 8px -1px rgba(0, 0, 0, 0.5);
        box-shadow: 2px 2px 8px -1px rgba(0, 0, 0, 0.5);
    }

    .portfolio-website {
        font-size:14px;
    }
    .portfolio-website-type {
        display: none;
    }
    .portfolio-items-section {
        padding: 0;
    }
    .portfolio-items-section::after {
        display: none;
    }
    .portfolio-btn {
        text-align: center;
        margin-top: 30px;
    }
    .portfolio-btn #btn_2 {
        padding: 8px 18px;
        font-size: 14px;
    }
    .portfolio-btn #btn_3 {
        padding: 8px 18px;
        font-size: 14px;
    }



}


/* md */

@media screen and (min-width: 992px) {
    {
        font-size: 1.2em;
    }
}


/* lg */

@media screen and (min-width: 1200px) {
    {
        font-size: 1.3em;
    }
}


/* Inside Pages -Contact Us */

#contact {
    background-color: #fff;
}

#contact .contact-us-page {
    padding-bottom: 80px;
    background-color: #fff;
}

#contact .menu-links ul li a {
    color: #fff;
}

#contact .menu-links ul li a:hover {
    color: #6fa9a7;
}

#contact header.navbar-fixed-top .menu-links a {
    color: #232929;
}

#contact .navbar-fixed-top .dark-logo {
    opacity: 1;
    display: block;
}

#contact .navbar-fixed-top .light-logo {
    opacity: 0;
    display: none;
}

#contact header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

#contact header .dark-logo {
    opacity: 0;
    display: none;
}

#contact header .light-logo {
    opacity: 1;
    display: block;
}

#contact .jumbotron-section {
    background: rgba(0, 0, 0, 0) url("http://i66.tinypic.com/2yp0wgp.png") no-repeat fixed 0 0 / cover;
}

#contact .contact-header h2 {
    color: #232929;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 50px;
    font-weight:900;
    font-size: 45px;
}

#contact .contact-header .contact-paragraph {
    font-family: 'open sans', 'sans-serif';
    color: #888;
    font-size: 18px;
    text-align: center;
    padding: 0 100px;
    margin-bottom: 50px;
}

#contact .contact-us-main {
    border-top: 1px solid #d3d3d3;
}

#contact .contact-us-main:before {
    display: block;
    position: relative;
    content: '';
    width: 50px;
    height: 50px;
    bottom: 25px;
    left: 48%;
    background-color: #fff;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 1;
    border-right: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
}

#contact .form-group {
    position: relative;
}

#contact .form-control {
    border-radius: 0;
}

#contact #label-header {
    font-family: 'open sans';
font-weight: 200;
}
#contact .contact-form h2 {
    font-family: 'open sans';
    color: #232929;
}
#contact .btn.btn-primary.contact-btn {
    color: #222;
    background-color: #f5f5f5;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f5f5f5), to(#dddddd));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #dddddd);
    background-image: -moz-linear-gradient(top, #f5f5f5, #dddddd);
    background-image: -ms-linear-gradient(top, #f5f5f5, #dddddd);
    background-image: -o-linear-gradient(top, #f5f5f5, #dddddd);
    border: 1px solid #cccccc;
    text-shadow: #fff 1px 1px 0;
}
#contact .btn.btn-primary.contact-btn:hover {
    -webkit-box-shadow: 0 4px 6px -3px #aaa;
    -moz-box-shadow: 0 4px 6px -3px #aaa;
    box-shadow: 0 4px 6px -3px #aaa;
}
#contact .contact-text h2 {
    font-family: 'open sans';
    color: #232929;
    margin-left: 10%;
}
#contact .contact-text p {
    margin-top: 40px;
    font-size: 14px;
    font-family: 'open sans';
    color: #666;
    text-align: justify;
    margin-left: 10%;
    margin-bottom: 15px;
}
#contact .contact-text h5 {
    margin-left: 10%;
}
#contact .contact-info {
    margin-left: 10%;
    width: 90%;
}
#contact .contact-info i {
    margin-right: 10px;
    font-size: 20px;
    color: #6fa9a7;
}
.social-list {
    margin-left: 9%;
    padding: 0;
    list-style: none;
    margin-top: 15px;
}
.social-list > li {
    display: inline-block;
    padding: 0 10px;
}
.social-list li i {
    font-size: 24px;
    color: #6fa9a7;
}
.social-list li i:hover {
    color: #666;
}
#map-canvas {
    width: 100%;
    height: 80%;
}

/*  Inside Pages -About Us Page */
#about .about-us {
    background-color: #fff;
}
#about .menu-links ul li a {
    color: #fff;
}
#about header.navbar-fixed-top .menu-links a {
    color: #232929;
}
#about header.navbar-fixed-top .dark-logo {
    opacity: 1;
    display: block;
}
#about header.navbar-fixed-top .light-logo {
    opacity: 0;
    display: none;
}
#about header .dark-logo {
    opacity: 0;
    display: none;
}
#about header .light-logo {
    opacity: 1;
    display: block;
}
#about .menu-links ul li:hover > a {
    color: #6fa9a7;
}
#about .jumbotron-section {
    background: rgba(0, 0, 0, 0) url("http://i64.tinypic.com/23r70v5.jpg") no-repeat fixed 0 0 / cover;
    height: 50%;
}
#about .jumbotron-content h1 {
    color: #fff;
    font-size: 60px;
    text-align: center;
    text-decoration: none;
    font-family: 'open sans', 'sans-serif';
}
#about .jumbotron-content p {
    color: #fff;
    font-family: 'open sans', 'sans-serif';
    font-size: 20px;
    text-align: center;
}
#about .about-text h5 {
    color: #232929;
    font-size: 45px;
    font-family: 'roboto', 'sans-serif';
    font-weight: 400;
    margin-bottom: 30px;
}
#about .about-text p {
    color: #888;
    font-size: 14px;
    font-family: 'open sans', 'sans-serif';
    font-weight: 400;
    text-align: justify;
}
#about .about-us {
    padding: 40px;
}
#about .about-image img {
    margin-left: 100px;
}
#about .meet-the-team {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d3d3d3;
    border-top: 1px solid #d3d3d3;
}
#about .meet-the-team:before {
    display: block;
    position: relative;
    content: '';
    width: 50px;
    height: 50px;
    bottom: 25px;
    left: 50%;
    background-color: #fff;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 1;
    border-right: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
}
#about .meet-the-team .team-header h2 {
    text-align: center;
    font-family: 'roboto', 'sans-serif';
    font-size: 45px;
    margin: 30px;
    color: #232929;
}
#about .meet-the-team .team-header p {}
#about .team-image .about-bio {
    text-align: center;
    margin-left: 25px;
    padding: 30px;
    font-family: 'open sans', 'sans-serif';
    font-size: 14px;
    color: #232929;
}
#about .meet-the-team .team-image .name {
    font-family: 'open sans', 'sans-serif';
    color: #232929;
    font-size: 20px;
    text-align: center;
    margin-left: 25px;
}
#about .ed-team-image,
.james-team-image {
    border-radius: 50%;
    margin-left: 50px;
}
#about .meet-the-team .team-image .position {
    font-family: 'open sans', 'sans-serif';
    color: #7f858f;
    font-size: 14px;
    text-align: center;
    margin-left: 25px;
}
#about .about-testimonial {
    background-color: #fff;
}
#about .testimonial-header h2 {
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    font-size: 45px;
    color: #232929;
    padding-top: 50px;
}
#about .testimonial-header p {
    font-family: 'open sans', 'sans-serif';
    font-size: 16px;
    color: #888;
    text-align: center;
    padding-bottom: 50px;
}
#about .about-testimonial .testimonial-text p {
    padding-right: 20px;
    color: #232929;
}
#about .about-testimonial .testimonial-text h5 {
    font-weight: 600;
    color: #232929;
    padding-right: 20px;
}
#about .about-testimonial .testimonial-text .testimonial-title {
    padding: 0;
    font-size: 12px;
    color: #888;
}
#about .about-testimonial .testimonial-image img {
    border-radius: 100%;
    width: 100px;
    height: 80px;
    border: 1px solid #eee;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.46);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.46);
}
#about .extra-padding {
    padding: 40px 0;
}

/* Quote Page */
#quote .get-a-quote {
    background-color: #fff;
    padding: 50px;
}
#quote .menu-links ul li a {
    color: #fff;
}
#quote .menu-links ul li:hover > a {
    color: #6fa9a7;
}
#quote header.navbar-fixed-top .menu-links a {
    color: #232929;
}
#quote header.navbar-fixed-top .dark-logo {
    opacity: 1;
    display: block;
}
#quote header.navbar-fixed-top .light-logo {
    opacity: 0;
    display: none;
}
#quote header .dark-logo {
    opacity: 0;
    display: none;
}
#quote header .light-logo {
    opacity: 1;
    display: block;
}
#quote .jumbotron-section {
    background: rgba(0, 0, 0, 0) url("http://i64.tinypic.com/23r70v5.jpg") no-repeat fixed 0 0 / cover;
}
#quote .jumbotron-content h1 {
    color: #fff;
    font-size: 60px;
    text-align: center;
    text-decoration: none;
    font-family: 'open sans', 'sans-serif';
}
#quote .jumbotron-content p {
    color: #fff;
    font-family: 'open sans', 'sans-serif';
    font-size: 20px;
    text-align: center;
}
#quote .quote-heading {
    color: #232929;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    margin-top: 50px;
    font-size: 45px;
}
#quote .quote-paragraph {
    font-family: 'open sans', 'sans-serif';
    color: #888;
    font-size: 18px;
    text-align: center;
    padding: 0 100px;
    margin-bottom: 50px;
}
#quote .get-a-quote {
    border-top: 1px solid #d3d3d3;
}
#quote .get-a-quote:before {
    display: block;
    position: relative;
    content: '';
    width: 50px;
    height: 50px;
    bottom: 75px;
    left: 48%;
    background-color: #fff;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 1;
    border-bottom: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    ;
}
#quote .quote-form p {
    font-family: 'open sans', 'sans-serif';
    font-size: 18px;
    color: #232929;
    margin-bottom: 30px;
}
#quote .form-group {
    width: 90%;
}
#quote .btn.btn-primary.quote-btn {
    color: #222;
    background-color: #f5f5f5;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f5f5f5), to(#dddddd));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #dddddd);
    background-image: -moz-linear-gradient(top, #f5f5f5, #dddddd);
    background-image: -ms-linear-gradient(top, #f5f5f5, #dddddd);
    background-image: -o-linear-gradient(top, #f5f5f5, #dddddd);
    border: 1px solid #cccccc;
    text-shadow: #fff 1px 1px 0;
}
#quote .btn.btn-primary.quote-btn:hover {
    -webkit-box-shadow: 0 4px 6px -3px #aaa;
    -moz-box-shadow: 0 4px 6px -3px #aaa;
    box-shadow: 0 4px 6px -3px #aaa;
}
#quote .quote-icons .quote-icon {
    margin-left: 20px;
}
#quote .quote-icons p {
    text-align: center;
    font-family: 'open sans', 'sans-serif';
    font-size: 14px;
    margin-bottom: 50px;
    font-weight: 600;
}
#quote .quote-contact {
    padding: 10px 20px;
    border-radius: 5px;
}
#quote .quote-contact p {
    font-family: 'open sans', 'sans-serif';
    font-size: 18px;
    display: inline-block;
    margin-top: 20px;
}
#quote .quote-contact .quote-phone-icon {
    margin-right: 10px;
    font-size: 36px;
    color: #6fa9a7;
}

/* Inside Pages - Portfolio Page */
#portfolio .jumbotron-section {
    background: rgba(0, 0, 0, 0) url("http://i64.tinypic.com/23r70v5.jpg") no-repeat fixed 0 0 / cover;
}
#portfolio .jumbotron-content h1 {
    color: #fff;
    font-size: 60px;
    text-align: center;
    text-decoration: none;
    font-family: 'open sans', 'sans-serif';
}
#portfolio .jumbotron-content p {
    color: #fff;
    font-family: 'open sans', 'sans-serif';
    font-size: 20px;
    text-align: center;
}
#portfolio .portfolio-welcome {
    background-color: #fff;
    padding: 50px;
}
#portfolio .portfolio-welcome h2 {
    font-family: 'Roboto', 'sans-serif';
    font-size: 45px;
    text-align: center;
}
#portfolio .portfolio-welcome p {
    text-align: center;
    font-family: 'open sans', 'sans-serif';
    font-size: 16px;
    color: #888;
}
#portfolio .portfolio-item {
    margin-bottom: 50px;
}
#portfolio .portfolio-main {
    border-top: 1px solid #d3d3d3;
    background-color: #fff;
    padding: 50px;
}
#portfolio .portfolio-main:before {
    display: block;
    position: relative;
    content: '';
    width: 50px;
    height: 50px;
    bottom: 75px;
    left: 48%;
    background-color: #fff;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 1;
    border-bottom: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    ;
}
#portfolio .portfolio-item .logo-image {
    position: relative;
}
#portfolio .img-responsive {
    width: 100%;
}
#portfolio .portfolio-item .logo-image .overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(100, 94, 98, 0.49);
    padding: 10px;
    color: #fff;
    border-radius: 8px;
}
#portfolio .portfolio-item .logo-image .overlay:hover {
    opacity: 1;
}
#portfolio .portfolio-item .logo-image .overlay .icons {
    margin-top: 40%;
    text-align: center;
}
#portfolio .portfolio-item-info .name {
    text-align: center;
    font-family: 'open sans', 'sans-serif';
    font-size: 16px;
    font-weight: 600;
    color: #232929;
}
#portfolio .portfolio-item-info .type {
    text-align: center;
    font-family: 'open sans', 'sans-serif';
    font-size: 12px;
    font-weight: 400;
    color: #666;
}
#portfolio .portfolio-item .icons i {
    font-size: 35px;
    color: #232929;
}
#portfolio .portfolio-item .icons i:hover {
    font-size: 35px;
    color: #fff;
}

/* Services - Inside Pages */
#services .menu-links ul li a {
    color: #fff;
}
#services .menu-links ul li:hover > a {
    color: #6fa9a7;
}
#services header.navbar-fixed-top .menu-links a {
    color: #232929;
}
#services header.navbar-fixed-top .dark-logo {
    opacity: 1;
    display: block;
}
#services header.navbar-fixed-top .light-logo {
    opacity: 0;
    display: none;
}
#services header .dark-logo {
    opacity: 0;
    display: none;
}
#services header .light-logo {
    opacity: 1;
    display: block;
}
#services .jumbotron-section {
    background: rgba(0, 0, 0, 0) url("http://i64.tinypic.com/23r70v5.jpg") no-repeat fixed 0 0 / cover;
    height: 60vh;
}
#services .row-margin {
    margin-bottom: 30px;
}
#services .bottom-row-margin {
    margin: 30px 0 60px 0;
}
#services .services-header {
    border-bottom: 1px solid #d3d3d3;
}
#services .services-header:after {
    display: block;
    position: relative;
    content: '';
    width: 50px;
    height: 50px;
    bottom: -25px;
    left: 48%;
    background-color: #fff;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 1;
    border-bottom: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
}
#services .services-paragraph a {
    color: #32c4e9;
}
#services .services-page-header h2 {
    font-family: 'open sans', 'sans-serif';
    font-size: 40px;
    margin-top: 40px;
    text-align: center;
}
#services .service-type {
    font-family: 'open sans', 'sans-serif';
    font-size: 20px;
    margin-top: 15px
}
#services .service-page-icon {
    color: #33495f;
    position: relative;
    top: 10px;
    left: 20px;
}
#services .fa-pencil:before {
    position: relative;
    right: 10px;
}
#services .fa-mobile:before {
    position: relative;
    left: 15px;
}
#services .fa-crosshairs:before {
    position: relative;
    left: 15px;
}
#services .fa-caret-down {
    font-size: 25px;
    cursor: pointer;
    padding-left: 10px;
}
#services .services-paragraph {
    margin-bottom: 0;
}
#services .service-paragraph h3 {
    font-family: 'open sans', 'sans-serif';
    font-size: 20px;
}
#services .five-steps ul li {
    list-style: none;
    padding: 10px;
}
#services .five-steps ul li h5 {
    display: inline-block;
    font-family: 'open sans', 'sans-serif';
    font-size: 24px;
    font-weight: 600;
    color: #232929;
}
#services .service-type-para {
    font-family: 'open sans';
    color: #232929;
    text-align: left;
    word-spacing: 2px;
}
#services .five-steps ul li p {
    display: inline-block;
    font-size: 16px;
}
#services .five-steps ul li i {
    position: relative;
    left: 40%;
    font-size: 25px;
    border-radius: 50%;
    border: 2px solid #33495f;
    padding: 10px;
    color: #33495f;
    margin-top: 20px;
}
#services .services-our-process h2 {
    font-family: 'roboto', 'sans-serif';
    font-size: 35px;
    text-align: center;
}
#services .services-our-process p {
    font-family: 'open sans', 'sans-serif';
    font-size: 18px;
    color: #232929;
    text-align: center;
}
#services .col-right li {
    padding: 40px;
    list-style: none;
}
